<!DOCTYPE html>
<html lang="en" ng-app="medApp">
  <head>
    <title>Evidation Health | Take Home</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Front-End Developer Assignment" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="src/css/form.css" />
    <link rel="stylesheet" type="text/css" href="src/css/logo.css" />
    <link rel="stylesheet" type="text/css" href="src/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="src/css/validation.css" />
  </head>
<body>

  <!-- Company Logo photoshopped -->
  <div class="text-center logo">
    <img src="src/image/medcompany-logo.png" alt="green-o" />
  </div>

  <div ng-controller="formCtrl" class="form-box container-fluid">
    <section class="container">
    <div class="container-page">
      <div class="col-md-6">
        <form action="#" method="post" id="volunteer-form" name="vform" novalidate>
          <!-- Form Header -->
          <fieldset>

          <legend class="form-header text-center">Voluntary Participation</legend>

              <p>Participation in this study is voluntary. If you do not wish to participate,
              there will be no penalty of any kind.</p>

              <p>To confirm your intent to enroll in this study, please complete the form below.</p>

            <!-- Text/input for First Name -->
            <div class="form-group col-lg-6">
              <label for="fname">First Name</label>
              <input type="text" name="fname" class="form-control" id="fname" placeholder="Bob"
                     ng-model="user.fname" required />
              <div class="alert alert-danger" role="alert"
                   ng-show="vform.fname.$dirty && vform.fname.$invalid">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">Field cannot be blank!</span>
              </div>
            </div>

            <!-- Text/input for Last Name -->
            <div class="form-group col-lg-6">
              <label for="lname">Last Name</label>
              <input type="text" name="lname" class="form-control" id="lname" placeholder="Saget"
                     ng-model="user.lname" required />
              <div class="alert alert-danger" role="alert"
                   ng-show="vform.lname.$dirty && vform.lname.$error.required">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">Field cannot be blank!</span>
              </div>
            </div>

            <!-- Text/input for City -->
            <div class="form-group col-lg-12">
              <label for="city">What city were you born in?</label>
              <input type="text" name="city" class="form-control" id="city" placeholder="Philadelphia"
                     ng-model="user.city" required />
              <div class="alert alert-danger" role="alert"
                   ng-show="vform.city.$dirty && vform.city.$error.required">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">Field cannot be blank!</span>
              </div>
            </div>

            <!-- Checkbox for consent -->
            <div class="form-group col-lg-6">
              <input type="checkbox" id="consent" ng-model="checked" />
              <label for="consent">I consent to participate in the study.</label>
              <div class="alert alert-danger" role="alert"
                   ng-show="vform.consent.$dirty && vform.consent.$error.required">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">Must be checkmarked!</span>
              </div>
            </div>

            <!-- Form Submission -->
            <div class="checkbox">
              <input type="submit" id="btn-valid" class="btn btn-success col-lg-12 pull-left"
                     ng-disabled="vform.$invalid"/>
            </div>

          </fieldset>
        </form>

      </div>  <!-- .col-md-6 -->
    </div>    <!-- .container-page -->
    </section><!-- .container -->
  </div>      <!-- .form-box -->

  <footer id=footer>
    <p class="contact text-center"><a href="http://www.evidation.com/contact/">Contact Us</a></p>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <script src="src/js/app.js"></script>
  <script src="src/js/jqueryFormVal.js"></script>
</body>
</html>